body {
  font-family: "Metropolis";
}


code {
  font-family: SemiBold;
}
nav {
  width: 100vw;
  display: flex;
  background-color:antiquewhite;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Metropolis";

}
